<div class="container">
  <mat-toolbar class="colorBarra">
    <span class="textoBarra">Usuarios</span>
    <div class="example-spacer"></div>
    <button mat-raised-button routerLink="/dashboard/crear-usuario">Agregar</button>
  </mat-toolbar>

  <div *ngIf="listUsuarios.length > 0">
    <mat-form-field class="mat-form-field-background">
      <mat-label class="filtrar">Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="" #input />
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
        <!-- Position Column -->
        <ng-container matColumnDef="usuario">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="mat-header-cell"
            mat-sort-header
          >
            Usuario
          </th>
          <td mat-cell *matCellDef="let element">{{ element.usuario }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef class="mat-header-cell">
            Nombre
          </th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef class="mat-header-cell">
            Apellido
          </th>
          <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="sexo">
          <th mat-header-cell *matHeaderCellDef class="mat-header-cell">
            Sexo
          </th>
          <td mat-cell *matCellDef="let element">{{ element.sexo }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            style="text-align: right"
          >
            <a class="pointer" matTooltip="Ver Usuario">
              <mat-icon class="colorSearch">search</mat-icon>
            </a>
            <a class="pointer" matTooltip="Editar usuario">
              <mat-icon class="colorEdit">edit</mat-icon>
            </a>
            <a
              class="pointer"
              (click)="eliminarUsuario(i)"
              matTooltip="Eliminar Usuario"
            >
              <mat-icon class="colorDelete">delete</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
  <h2 *ngIf="listUsuarios.length == 0">No hay usuarios que mostrar</h2>
</div>
